========================================
Electric Rose Requirements Specification
========================================

Hi and welcome to the Electric Rose App.
When batteries are used, their charge is reduced.
This innovative app keeps track of all your batteries in use and lets you manage them in one place.
Here is an introduction a part of to the system:

	- All batteries have a Dry value which denotes if the battery still keeps its fluids inside
	- All batteries have a Charge value which denotes how much electricity is left in the battery
	- After each usage, the app lowers the Charge value for every battery

Pretty simple, right? Well this is where it gets interesting:

	- Once the battery is dry, Charge degrades twice as fast
	- The Charge of a battery is never negative
